
@model TaskProject.Entities.Models.Company

<div class="modal-header">
    <button class="btn btn-sm pull-right btn-danger" type="button" id="btnCloseModal" data-dismiss="modal">x</button>
    <p>Are you sure you want to delete this?</p>
</div>
<div class="modal-body">

    @using (Html.BeginForm("Delete", "Company", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <button type="button" onclick="DeleteCompany(@Model.Id)" class="btn btn-sm btn-success">Delete</button>
        </div>}

</div>